OPARK_USERNAME="your_username"
OPARK_PASSWORD="your_password"
OPARK_VEHICLE="your_plate"
OPARK_LOCATION="Monash University"
OPARK_ZONE="Caulfield - Multi-Level - Blue" # Unique substring of the zone's name
OPARK_NTFY_TOPIC="pick-a-private-unguessable-topic-name" # NTFY topic to subscribe to for notifications
